# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias de entornos
package-lock.json
yarn.lock

# Archivos de configuración de IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de build y distribución
dist/
build/

# Archivos de pruebas o cobertura
coverage/

# Archivos temporales
*.tmp
*.swp


# environment files
.env
.prod
.local
.dev

 